body, html{
    width: 98vw;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.poke-list{
    display: flex;
    justify-content: center;
}

.poke-card{
    width: 14rem;
    padding: 0;
    margin-top: 5%;
}

@keyframes shadowRotate {
    0%{
        box-shadow: 20px 20px 20px #b32d34,
        -20px -20px 20px #b32d34;
    }
    100% {
        box-shadow: 20px 20px 20px #4e70b1,
        -20px -20px 20px #4e70b1;
    }
}

.found-card {
    background-color: #3498db;
    animation: shadowRotate 2s linear infinite;
    transform: scale(1.25) translate(0, 35%);
    z-index: 1;
}

.myCloseButton{
    display: none;
}

.back-to-top-img, .back-to-top-button {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.back-to-top-img{
    height: 5%;
}

.modal-error{
    z-index: 1;
}

.banner-img{
    width: 25%;
    padding-top: 3%
}

@media (max-width: 1600px){
    .banner-img{
        padding-top: 5%;
    }
}

@media (max-width: 1000px){
    .banner-img{
        width: 30%;
        padding-top: 7%;
    }
}

@media (max-width: 700px){
    .banner-img{
        width: 35%;
        padding-top: 10%;
    }
}

@media (max-width: 550px){
    .banner-img{
        width: 40%;
        padding-top: 15%;
    }
}

.dropdown-menu{
    border: 0;
}

button{
    cursor: pointer;
}

.buttonPokeList:hover{
    transform: scale(1.15);
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.stat-info {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    margin-right: 8px;
}

.stat-name {
    font-weight: bold;
}

.stat-value {
    font-size: 14px;
    margin-left: 6px;
}

.stat-bar {
    height: 8px;
    background-color:green;
    border-radius: 4px;
    width: 220px; 
}

.species-div{
    border-radius: 25px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.4);
}

.typePokemonDiv{
    font-weight: 500;
    border-radius: 25px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.4);
}

.pokedexNumber{
    font-size: 20px;
    font-weight: 500;
}
